<!DOCTYPE html>
<html>

<head>
    <!-- Standard html meta tags -->
    <title>JSkeleton & Penguin Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bq.com">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="application-name" content="">
    <meta name="copyright" content="bq.com">
    <!-- Dublin core -->
    <meta name="DCTERMS.rightsHolder" content="">
    <meta name="DCTERMS.Title" content="">
    <meta name="DCTERMS.Creator" content="bq.com">
    <meta name="DCTERMS.Subject" content="">
    <meta name="DCTERMS.Description" content="">
    <meta name="DCTERMS.Publisher" content="bq.com">
    <meta name="DCTERMS.Language" content="en">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="url" content="">
    <meta itemprop="image" content="assets/webclips/google.png">
    <meta itemprop="author" content="bq.com">
    <meta itemprop="datePublished" content="">
    <meta itemprop="operatingSystems" content="Windows, Linux, Mac OS X, Android">
    <meta itemprop="applicationCategory" content="">
    <meta itemprop="softwareVersion" content="1.0.0">
    <meta itemprop="browserRequirements" content="Google Chrome">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <!-- La imagen debe ser de menos de 1Mb, y como mínimo de 280x150 en el ejemplo de twitter usan una de 480 x 270 (para la summary card with large image)-->
    <meta name="twitter:image:src" content="assets/webclips/twitter.png">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <!-- La imagen debe estar a 1200 x 630 -->
    <meta property="og:image" content="assets/webclips/opengraph.png">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/x-icon" href="assets/webclips/favicon.ico" />
    <link rel="apple-touch-icon-precomposed apple-touch-icon" href="assets/webclips/apple-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/webclips/apple-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/webclips/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/webclips/touch-icon-ipad-retina.png">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="application-name" content="">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-TileImage" content="assets/webclips/ms-icon-144x144.png">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div data-region="main">
        <h1 class="h1">Allo! Allo! I'm a JSkeleton & Penguin application</h1>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        !function(P, e, n, g, u, i, N){P.GoogleAnalyticsObject=u,P[u]=P[u]||function(){
        (P[u].q=P[u].q||[]).push(arguments)},P[u].l=+new Date,i=e.createElement(n),
        N=e.getElementsByTagName(n)[0],i.src=g,N.parentNode.insertBefore(i,N)
        }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js scripts/index.js -->
    <script href="scripts/index.js"></script>
    <!-- endbuild -->

</body>

</html>
